/* -------- Default Slider Styling (Horizontal) -------- */

.value-slider-body {
	display: block;
	width: 100%;
	height: 10px;
	margin: 10px 0;

	background-color: #a5a5a5;

	cursor: pointer;
}

.slider-value {
	position: relative;
	z-index: 21;
	width: 100%;
	height: 100%;
	background-color: #de8c33;
}

.slider-handle-right, .slider-handle-left { 
	position: absolute;
	z-index: 24;
	display: inline;
	padding: 0; margin: 0;
    width: 20px;
    height: 20px;
	top: -5px;

    border-radius: 50%;
	background-color: rgba(255, 255, 255, 1);
}

.slider-handle-left {
	float: left;
	left: calc(0% - 10px);
}

.slider-handle-right {
	float: right;
	left: calc(100% - 10px);
}

.slider-mouseat {
	position: relative;
	z-index: 22;
	width: 0%;
	height: 100%;
	margin-top: -10px;
	background-color: rgba(255, 255, 255, 0.2);
}

.slider-buffered {
	position: relative;
	z-index: 20;
	height: 10px;
	margin-top: -10px;
	background-color: rgba(255, 255, 255, 0.2);
}

/* Tooltip Styling */

.value-slider-tooltip {
	position: relative;
	z-index: 24;
}

.value-slider-tooltip .arrow-left {
	display: inline;
	position: relative;
	width: 0; height: 0;
	float: left;
	border-right: 5px solid #ddd;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
  	top: 50%;
  	-ms-transform: translateY(-50%); /* Just for you IE ;) */
  	transform: translateY(-50%);
	line-height: 0;
}

.value-slider-tooltip .arrow-up {
	display: block;
	position: relative;
	width: 0; height: 0;
	border-bottom: 5px solid #ddd;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin: 0 auto;
	line-height: 0;
}

.value-slider-tooltip .tooltip-body {
	display: inline;
	position: relative;
	float: left;
	background-color: #ddd;
	padding: 5px 8px;
	border-radius: 6px;
	color: #000;
	font-size: 14px;
}

/* --------------- Vertical Mode Styling --------------- */

.value-slider-vertical {
	display: inline-block;
	height: 200px;
	width: 10px;
	margin: 0 10px;
}

.value-slider-body-vertical {
	display: block;
	float: left;
	width: 10px;
	height: 100%;

	background-color: #a5a5a5;

	cursor: pointer;
}

.slider-value-vertical {
	position: relative;
	z-index: 21;
	width: 10px;
	height: 100%;
	background-color: #de8c33;
}

.slider-handle-right-vertical, .slider-handle-left-vertical { 
	position: absolute;
	z-index: 24;
	display: inline;
	padding: 0; margin: 0;
    width: 20px;
    height: 20px;
	left: -5px;
	top: -10px;

    border-radius: 50%;
	background-color: rgba(255, 255, 255, 1);
}

.slider-handle-left-vertical {
	top: calc(100% - 10px);
}

.slider-handle-right-vertical {
	top: calc(0% - 10px);
}